.logoAuthor {
    display: block;
    align-self: flex-end;
    width: 50px;
    border-radius: 10px;
    background-color: whitesmoke ;

  }

.logoAuthor:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    width: 51px;
}
