.detail {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.buttonBack {
    display: flex;
    align-items: flex-start;
    justify-self: left;
    margin: 2%;

    background-color: brown;
    color: whitesmoke;
    font-size: 200%;
    font-weight: bolder;

    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  

    border-radius: 25%;
    border: none;
}

.buttonBack:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: whitesmoke;
    color: brown;
    border: brown 1px solid;
    cursor: pointer;
}

.detailCONT {
    display: flex;
    flex-direction: column;
    justify-content: center;


    background-color: whitesmoke;
    width: 50%;
    margin: 2%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 40px;
}  
.detailIMG {
    border-radius: 40px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
    margin: 2px;
}

.grid-layout {
    display: grid;
    grid-template-areas: 'title title'
                         'diets hs'
                         'summ summ'
                         'sbs sbs';
    grid-template-columns: 80% auto;
    grid-template-rows: auto;

}

.detail-TITLE-Content { 
    grid-area: title;
    color: brown;
}


.detail-DIET-Content {
    grid-area: diets;
    background-color: antiquewhite;
    border-right: whitesmoke 2px solid;
}

.detail-DIET-Content h3 {
    color: brown;
}

.detail-HS-Content {
    grid-area: hs;
    background-color: antiquewhite;
    border-left: whitesmoke 2px solid;
    color: brown;
}

.detail-SUMM-Content {
    grid-area: summ;
    font-style: italic;
    margin: 5px;
}

.detail-SBS-Content {
    grid-area: sbs;
    background-color: antiquewhite;
    text-align: center;
}

.detail-SBS-Content h3 {
    color: brown;
}

.SBSlist {
    display: inline-block;
    text-align: left;
}