.searchBar {
    display: flex;
    flex-direction: row;
}

.inputSearch {
background-color: whitesmoke;
border: brown 2px solid;
border-radius: 5px;
margin-right: 5px;
font-size: large;
color: brown;
}

.buttonSearch {
font-size: large;
background-color: antiquewhite;
color: brown;
border: brown 2px solid;
border-radius: 5px;

} 

.buttonSearch:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}